*{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:100;
 
}

body {
  display: block;
  margin: 0px;
}

.container-nav{
  background-color: pink;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.container-nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.container-nav ul li{
  list-style-type: none;
  
}
/*--------------------------------------------------------------------------------------------------------------------------*/
.board-wrapper {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  padding: 20px;
  flex-wrap: wrap;
  width: 100vw;
}



.column {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
  margin-right: 20px;
}

.card {
  padding: 10px;
  margin: 10px 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  max-width: 100%;
  word-wrap: break-word;
}

.card p {
  margin: 0;
}

.add-column,
.add-card {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.add-column input,
.add-card input {
  margin-bottom: 5px;
  padding: 5px;
}

.add-column button,
.add-card button {
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.add-column button:hover,
.add-card button:hover {
  background-color: #0056b3;
}

/*.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
  border-radius: 4px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
}*/

